@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	color: #333;
	-webkit-text-size-adjust: 100%;
}
h1.title {
	font-weight: 700;
    font-size: 2.0vw;
	position: absolute;
	top: 2%;
	left: 33%;
	font-family: 'Josefin Sans', sans-serif;
	z-index: 98;
}

.container{
	margin: 2ch;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	outline: none;
	position: relative;
}

a{
	color: #0074D9;
}


.rotatewarning{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #333;
	color: #fff;
	z-index: 200;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	align-items: center;
	justify-content: center;
	display: none;
	flex-direction: column;
	font-size: calc(16px + 1vw);

	svg{
		margin-bottom: 10vw;
	}

	p{
		margin-top: 3vw;
		text-align: center;
		font-size: 80%;
		opacity: 0.5;
		max-width: 50vw;
		line-height: 1.2;
	}
}


@media (orientation: portrait) and (max-width: 800px){
	.rotatewarning{
		display: flex;
	}
}